$variant: 'light' !default;

window {
  background: transparent;
}

decoration {
  border-radius: 12px;
  box-shadow: 0 3px 9px 1px transparentize(black, .5);
  background: if($variant =='light', #fafafa, #2b2b2b);

  &:backdrop {
    box-shadow: 0 3px 9px 1px transparent,
      0 2px 6px 2px transparentize(black, 0.8);
  }
}
